.table_container {
    width: 1100px;
    height: 670px;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.userInput {
    display: none;
    position: absolute;
    width: 320px;
    height: auto;
    background: #4cc2f1c7;
    flex-direction: column;
    bottom: 100px;
    padding: 40px;
    border-radius: 10px;
}

.userInput h1 {
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 10pt;
    margin-bottom: 10px;
}

textarea,
textarea:focus,
textarea:hover,
input,
input:focus,
input:hover {
    border: none;
    outline: none;
}

.input_container {
    position: relative;
}

#WTInput input {
    margin-bottom: 15px;
}

.small {
    height: 40px;
    padding: 20px;
    font-size: 15pt;
    text-align: center;
    border-radius: 99999999px;
    width: 310px;
}

.big {
    padding: 10px;
    font-size: 12pt;
    height: 100px;
    width: 310px;
    border-radius: 20px;
}

textarea,
input {
    padding: 5px;
    height: 0px !important;
    background: none;
    color: white;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

textarea:focus,
input:focus {
    padding: 5px;
    color: #4cc2f1;
    background: #ffffffc5 !important;
}

.small:focus {
    height: 40px !important;
}

.big:focus {
    height: 100px !important;
}
.number {
    position: absolute;
    left: -60px;
    top: -10px;
    text-align: center;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #4cc2f1;
}

#WTName {
}

.enabled {
    display: flex !important;
}

.numberLine {
    width: 3px;
    height: 100%;
    left: -40px;
    background: #4cc2f1;
    position: absolute;
}

#WishInput {
    border-radius: 99999px;
}

.shine {
    width: 80px;
    height: 80px;
    background: rgb(76, 194, 241);
    background: -moz-linear-gradient(0deg, rgba(76, 194, 241, 0) 25%, rgba(76, 194, 241, 0.8) 100%);
    background: -webkit-linear-gradient(0deg, rgba(76, 194, 241, 0) 25%, rgba(76, 194, 241, 0.8) 100%);
    background: linear-gradient(0deg, rgba(76, 194, 241, 0) 25%, rgba(76, 194, 241, 0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4cc2f1",endColorstr="#4cc2f1",GradientType=1);
    position: absolute;
    bottom: -80px;
}

#WTInput .shine {
    right: 70px;
    left: auto;
}

#WishInput .shine {
    right: auto;
    left: 70px;
}
