@keyframes removeWT {
    0% {
        height: 100%;
        opacity:1;
    }
    100% {
        height: 0%;
        opacity:0;
    }
}

@keyframes addWT_card {
    0% {
        transform:scale(1)
    }
    60% {
        transform:scale(1.5)
    }
    100%{
        transform:scale(1)
    }
}



.programme_container {
    width: 1024px;
    height: 768px;
    display: flex;
    justify-content: space-between;
}

.date {
    text-align: center;
    font-size: 20pt;
}

.day {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.day h1 {
    margin-top: 6px;
    font-size: 18pt;
    width: 40px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px;
    width: 100%;
}

.day p {
    font-size: 14pt;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.card {
    position: relative;
    margin-top: -35px;
    height: 60px;
    width: 40px;
    background: #4cc2f1;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    border: #4cc2f1 3px solid;
    font-size: 20pt;
    flex-shrink: 0;
}

.slot {
    width: 240px;
    height: 240px;
    max-height: 270px;
    margin-top: 40px;
    color: #4cc2f1;
    position: relative;
    padding: 30px;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    display: flex;
}

.WTbackground {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.418);
    border-radius: 5px;
    top:0px;
    opacity:1;
}

.added{
}

.added .card{
    animation-name: addWT_card;
    animation-duration: 1s;
    animation-iteration-count: 1;
}


.empty .WTbackground {
    animation-name: removeWT;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.empty .card {
    background: none;
}
